@import "bootstrap/bootstrap";
@import "bootstrapValidator";
//@import "jasny-bootstrap";
//@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,900italic,300,800&subset=cyrillic,latin);
@import "variables";
@import "overrides";




html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  font-weight: 200;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 800;
  line-height: 1.1;
  color: inherit;
}

// Navbar -----------------------------------

.navbar-default {
  background-color: #ffffff;
  border-color: #F8F8F8;
  margin-bottom: 0!important;
}

.t8-logo {
  background-image: url(../img/logo-t8publishing.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  width: 190px;
  height: 40px;
  margin: 15px 15px!important;
  padding: 0;
  display: inline-block;
}

@media all and (min-width: 768px){
  .navbar-nav>li>a {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.navbar-toggle {
  margin-top: 18px;
  margin-bottom: 18px;
}

// Footer ----------------------------------
footer {
  @extend small;
  margin: 2em auto;
}

.t8s-footer__logos img{
  opacity: 0.7;
}
.t8s-footer__logos img:hover{
  opacity: 1;
}

// ----------------------------------------



// Form -------------------------------------------
.t8s-lead-form {
  padding: 0.3em 1em;
  background-color: $t8s-attention-color;
  color: #ffffff;
  border-radius: 5px;
  display: block;
}
@media (max-width: $screen-desktop){
  .t8s-lead-form {
    position: static;
  }
}
.t8s-lead-form__title {
  margin: 0.7em 0;
  padding: 0;

}
.t8s-lead-form__button {
  @extend .btn;
  @extend .btn-danger;
  @extend .btn-block;
  background-color: $t8s-action-color;
}
.t8s-lead-form--msg{
  @extend .t8s-lead-form;
  display: none;
  h3 {
    margin: 80px auto;
  }
}

// ---------------------------------------


// Utils ---------------------------------

.t8-feature-list{
  display: inline-block;
  list-style: none;
  font-size: 21px;
  li:before {
    font-family: 'Glyphicons Halflings';
    content: '\e013';
    display: inline-block;
    margin-left: -23px;
    padding-right: 6px;
    color: $alert-success-text;
  }
  > li {
    margin-left: 55px;
    margin-top: 0.8em;
  }
}

.t8-feature-list--small {
  font-size: 16px;
  > li:before {
    width: 20px;
    height: 20px;
    margin-left: -35px;
    margin-right: 15px;
  }
  > li {
    margin-left: 35px;
    margin-top: 0.8em;
  }
}

.feature-divider {
  margin: 3em 0;
}

.nobr{
  white-space: nowrap;
}

// Sections ---------------------------------------


// Intro section

.s-intro {
  background-color: rgb(47, 78, 90);
  @extend .section-full;
  background-image: url(../img/bg-typefaces.jpg);
  background-size: cover;
  padding-bottom: 2em!important;
}


// Features section

.s-features{
  @extend .container;
  @extend .section;
}
.s-features__row {
  @extend .row;
  margin-top: 2em;
}
.s-features__item {
  @extend .col-sm-3;
  padding-bottom: 2em;
  text-align: center;
}
.s-features__item__icon {
  margin-bottom: 0.5em;
  max-width: 120px;
}
.s-features__item__label {

}

// Ideas first section

.s-ideasfirst {

}

.s-ideasfirst__item{
  @extend .row;
  margin-top: 2em;
}

.s-ideasfirst__item__icon {
  max-width: 70px;
  padding-bottom: 0.5em;
  margin: 0 auto;
}


// Independency section

.s-independency {
  @extend .container;
  @extend .section;
}


// Adaptive section

.s-adaptive {
  background-color: #25B7BD;
  @extend .section-full;
  padding-bottom: 3em!important;
  background-size: cover;

}


// Contact section

.s-contact{
  @extend .container;
  @extend .section;
  text-align: center;
}


// Section defaults

.section-full {
  padding: 3em 15px!important;
  color: rgb(255, 255, 255);
}
.section {
  padding-top: 3em;
  padding-bottom: 3em;
}



// Global media queries ---------------------------


@media screen and (max-width: $screen-md-max){

}

@media screen and (max-width: $screen-phone) {
    h1 {
      font-size: 30px;
    }
    .lead {
      font-size: 24px;
    }
}

