<footer>
    <hr/>
    <div class="container">

        <div class="row">
            <div class="col-sm-4">
                <p>2014 &copy; ОАО «Т8 Издательские Технологии»<br/>
                    Email: <a href="mailto:contact@t8publishing.ru">contact@t8publishing.ru</a></p>
            </div>
            <div class="col-md-8 t8s-footer__logos">
                <a href="/"><img style="margin-left: 2em" src="{{ 'logo-t8publishing-bw.svg' | asset_url}}" width="150" alt=""/></a>
                <a href="http://t8group.ru" target="_blank"><img style="margin-left: 2em" src="{{ 'logo-t8.svg' | asset_url}}" width="230" alt=""/></a>
            </div>
        </div>
    </div>
</footer>